<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jdentalweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>org.mdk.jdental.web.servlets.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientForm</display-name>
    <servlet-name>ClientForm</servlet-name>
    <servlet-class>org.mdk.jdental.web.servlets.ClientForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientForm</servlet-name>
    <url-pattern>/ClientForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>org.mdk.jdental.web.servlets.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RenderServlet</display-name>
    <servlet-name>RenderServlet</servlet-name>
    <servlet-class>org.mdk.jdental.web.servlets.RenderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RenderServlet</servlet-name>
    <url-pattern>/RenderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Teeth</display-name>
    <servlet-name>Teeth</servlet-name>
    <servlet-class>org.mdk.jdental.web.servlets.Teeth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teeth</servlet-name>
    <url-pattern>/Teeth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccount</display-name>
    <servlet-name>CreateAccount</servlet-name>
    <servlet-class>org.mdk.jdental.web.servlets.CreateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccount</servlet-name>
    <url-pattern>/CreateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchClient</display-name>
    <servlet-name>SearchClient</servlet-name>
    <servlet-class>org.mdk.jdental.web.servlets.SearchClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchClient</servlet-name>
    <url-pattern>/SearchClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleView</display-name>
    <servlet-name>ScheduleView</servlet-name>
    <servlet-class>org.mdk.jdental.web.servlets.ScheduleView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleView</servlet-name>
    <url-pattern>/ScheduleView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleDay</display-name>
    <servlet-name>ScheduleDay</servlet-name>
    <servlet-class>org.mdk.jdental.web.servlets.ScheduleDay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleDay</servlet-name>
    <url-pattern>/ScheduleDay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleForm</display-name>
    <servlet-name>ScheduleForm</servlet-name>
    <servlet-class>org.mdk.jdental.web.servlets.ScheduleForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleForm</servlet-name>
    <url-pattern>/ScheduleForm</url-pattern>
  </servlet-mapping>
</web-app>